@import "tailwindcss";

.button, .sec-button {
    @apply text-lg inline-block border-2 px-6 py-2 lg:px-12 rounded-full z-10 transition-all ease-in-out duration-200;
}

.button:focus-visible, .sec-button:focus-visible {
    @apply outline-2 outline-offset-2 outline-[var(--primary)];
}

.button:hover, .sec-button:hover {
    @apply shadow-lg transition-all ease-in-out duration-200;
}

.button {
    @apply text-[var(--cards)] bg-[var(--primary)] border-[var(--primary)];
}

.button:hover {
    @apply scale-[1.03] bg-[var(--primary)]/90;
}

.sec-button {
    @apply text-[var(--secondary)] border-[var(--secondary)];   
}

.sec-button:hover {
    @apply text-white bg-[var(--secondary)]/30 border-2 border-[var(--secondary)];
}