@import 'tailwindcss';

.title-div {
    @apply flex flex-row justify-center items-center text-5xl font-bold !mb-5;
}

.title {
    @apply !text-5xl uppercase !mb-0;
}

.description {
    @apply text-lg text-center text-black/70;
}

.cards-section {
    @apply w-full flex flex-col justify-around !items-center gap-8 !mb-5 md:flex-row;
}

.card, .card-text {
    @apply transition-all ease-in-out duration-100;
}

.card {
    @apply flex-1 flex flex-col justify-between items-start gap-5 bg-white border border-white/60 
    !px-5 !py-8 bg-gradient-to-t from-white/40 to-white/60 backdrop-blur-[20px] 
    rounded-2xl hover:scale-[1.03] transition-all ease-in-out duration-200 h-full;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover {
    @apply text-[var(--accent)] transition-all ease-in-out duration-200;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.card-icon {
    @apply flex items-center text-6xl text-white bg-[var(--primary)] rounded-xl !p-4;

    background: #82b0ff;
    background: linear-gradient(236deg,rgba(31, 113, 255, 1) 0%, rgb(77, 133, 235) 100%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-text {
    @apply font-medium;
}