@import 'tailwindcss';

.title-div {
    @apply flex flex-row justify-center items-center text-5xl font-bold !mb-5;
}

.title {
    @apply !text-5xl uppercase !mb-0;
}

.description {
    @apply text-lg text-center text-black/70 !mb-10;
}

.cards-section {
    @apply w-full flex flex-col justify-around !items-center gap-5 !mb-5 lg:flex-row;
}

.card, .card-text {
    @apply transition-all ease-in-out duration-100;
}

.card {
    @apply flex flex-1 flex-col justify-center items-start gap-5 border border-white/60 !px-10 !py-12 bg-gradient-to-t from-white/40 to-white/60 backdrop-blur-[20px] max-w-[300px] h-full rounded-2xl;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card:hover {
    @apply text-[var(--accent)] transition-all ease-in-out duration-200;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
}

.card-icon {
    @apply flex items-center text-6xl text-white bg-[var(--primary)] rounded-xl !p-4;

    background: #82b0ff;
    background: linear-gradient(236deg,rgba(31, 113, 255, 1) 0%, rgb(77, 133, 235) 100%);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-text {
    @apply font-medium;
}