@import 'tailwindcss';

.auth-div {
    @apply bg-white flex flex-col px-4 !py-4 rounded-xl;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.input-wrapper {
    @apply flex items-center gap-3 bg-black/5 border border-black/15 rounded-xl !px-3;
}

.icon {
    @apply h-5 w-5 text-black/40 pointer-events-none;
}

.input {
    @apply flex-1 bg-transparent outline-none !py-2.5;
}

.submit-input {
    @apply font-semibold text-white rounded-2xl !py-3 hover:bg-[var(--accent)] hover:scale-[1.02] transition-all ease-in-out duration-200 cursor-pointer;
}

.google-input {
    @apply w-full flex flex-row justify-center items-center gap-3 bg-[var(--text-secondary)]/30 !px-6 !py-3 lg:w-[50%] hover:bg-red-200 transition-all ease-in-out duration-200;
}

.panel-bg {
  width: 100%;
  height: 60vh;
  background: linear-gradient(135deg, #0f0f0f, #1a1a1a);
  clip-path: ellipse(120% 70% at 50% 0%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.7s ease-in-out;
}