@import "tailwindcss";

.containers {
    @apply bg-white rounded-3xl shadow-lg overflow-hidden border border-gray-200/50;
}

.stats-container {
    @apply bg-white rounded-2xl shadow-md border border-gray-200/50 !p-6 flex flex-row items-center gap-4;
}

.selected-plan {
    @apply text-[var(--primary)] border-b-2 border-[var(--primary)] !-mb-[2px];
}