@import "tailwindcss";

.section-lg {
  @apply w-full h-[500px] max-w-[900px] px-5 !mt-40 mb-30 mx-auto md:mb-0 md:max-w-[1200px] md:px-20;
}

.h1 {
    @apply text-3xl text-[var(--cards)] font-bold leading-11 uppercase md:text-6xl md:leading-16 z-10;
}

.hero-p {
    @apply text-lg text-[var(--text-paragraph)] md:text-lg z-10;
}

.hero-img-div {
    animation: jump 3s ease-in-out infinite;
}

.hero-img {
    @apply w-[380px] hidden lg:block pointer-events-none;
}

.hero-span {
    @apply inline-flex flex-row items-center gap-2 w-auto text-[var(--cards)]/50 border border-[var(--cards)] bg-[var(--cards)]/10 backdrop-blur-3xl rounded-full px-3 py-1.5;
}

/* .diagonal {
    clip-path: polygon(
        0 0,
        100% 0,
        100% 95%,
        50% 100%,
        0 95%
    );
    z-index: 0;
} */

@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-20px);
    }
    
    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0)
    }
}

section.relative {
  perspective: 1000px;
  transform-style: preserve-3d;
}

.hero-img-div {
  transform: translateZ(60px) scale(1.05);
  filter: drop-shadow(0 25px 40px rgba(0,0,0,0.4));
}

.section-lg > div:first-child {
  transform: translateZ(30px);
}