@import 'tailwindcss';

.title {
    @apply text-center uppercase;
}

.testimonials-div {
    @apply relative overflow-hidden w-full;
}

.testimonial {
    @apply h-full flex flex-col border border-white/60 bg-gradient-to-t from-white/40 to-white/60 backdrop-blur-[20px] !p-4 rounded-2xl;
}

.up {
    animation: up 5s ease-in-out infinite;
}

.down {
    animation: down 5s ease-in-out infinite;
}

@keyframes up {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(5px);
    }

    66% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes down {
    0% {
        transform: translateY(0);
    }

    33% {
        transform: translateY(-5px);
    }

    66% {
        transform: translateY(5px);
    }

    100% {
        transform: translateY(0);
    }
}