@import "tailwindcss";


.select-none {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

/* TAILWIND CSS CLASSES */
.underline-hover {
  @apply relative pb-[2px] w-auto transition duration-300;
}

.underline-hover:hover {
  @apply scale-110 transition duration-300;
}

.underline-hover::before {
  @apply content-[''] absolute top-[100%] left-0 w-full h-[2px] bg-[var(--secondary)] scale-x-0 origin-center transition-transform duration-300 ease-in-out;
}

.underline-hover:hover::before {
  @apply scale-x-100;
}

.nav {
    @apply flex flex-row justify-center items-center gap-10;
}

.nav-link {
  @apply font-medium;
}

.auth-button {
  @apply flex items-center gap-2 text-[var(--primary)] border-2 border-[var(--primary)] hover:rounded-xl hover:text-[var(--accent)] hover:border-[var(--accent)] py-2 px-4 transition-all ease-in-out duration-200;
}

.menu-button {
    @apply hidden;
}

/* MEDIA QUERIES */
@media(max-width: 992px) {
    .nav {
        @apply hidden;
    }

    .menu-button {
        @apply block relative;
    }

    .responsive-nav {
        @apply w-[25%] h-auto absolute top-[50px] right-0 flex flex-col items-end p-[20px] gap-[1rem];
    }

}

/* ANIMATIONS */
@keyframes jump {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}