@import "tailwindcss";

:root {
  /* COLORS */
  --primary: #246ce5;
  --secondary: #008C3A;
  --accent: #E6A725;

  --background: #f6f6f6;
  --cards: #FFFFFF;
  --text-primary: #ffffff;
  --text-secondary: #6B7280;
  --text-paragraph: rgba(255, 255, 255, 0.693);

  /* FONTS */
  --headline: "Bricolage Grotesque", sans-serif;
  --body: "Raleway", sans-serif;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
  background: var(--background) !important;
  color: #0f172a;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

@layer utilities {
  .font-headline {
    font-family: var(--headline), sans-serif;
  }

  .font-body {
    font-family: var(--body), sans-serif;
  }
}

/* CUSTOM TAILWIND CLASSES */
.section {
  @apply w-full max-w-[1200px] px-4 lg:px-8 mx-auto overflow-hidden;
}

.loading-section {
  @apply w-full min-h-screen flex items-center justify-center;
}