@import "tailwindcss";

:root {
  /* COLORS */
  --primary: #2979FF;
  --secondary: #00C853;
  --accent: #FF9100;

  --background: #f6f6f6;
  --cards: #FFFFFF;
  --text-primary: #ffffff;
  --text-secondary: #6B7280;
  --text-paragraph: rgba(255, 255, 255, 0.693);

  /* FONTS */
  --headline: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --body: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  @apply overflow-x-hidden;
}

@layer utilities {
  .font-headline {
    font-family: var(--headline), sans-serif;
  }

  .font-body {
    font-family: var(--body), sans-serif;
  }
}

/* CUSTOM TAILWIND CLASSES */
.section {
  @apply w-full max-w-[1200px] px-4 lg:px-8 mx-auto overflow-hidden;
}