@import "tailwindcss";

:root {
  /* COLORS */
  --primary: #2979FF;
  --secondary: #00C853;
  --accent: #FF9100;

  --background: #E3D7FF;
  --cards: #FFFFFF;
  --text-primary: #1E1E1E;
  --text-secondary: #6B7280;

  /* FONTS */
  --headline: "Montserrat", sans-serif;
  --body: "Raleway", sans-serif;
}

@layer utilities {
  .font-headline {
    font-family: var(--headline), sans-serif;
  }

  .font-body {
    font-family: var(--body), sans-serif;
  }
}